
section {
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}


section:first-child h4 {
    color: blue;
}

section:nth-child(2){
border-bottom: 5px solid red;
}

section:nth-child(3) h3,
section:nth-child(3) ul {
    color: red; /* Met le texte en rouge */
}

section:nth-child(4) > ul > li > a {
    font-size: 25px;
}

section:nth-child(5) h3 + span {
    color:blue;
}
img[alt="la-tartine"] {
    border: 2px solid black;
    border-radius : 50%;
}

section:last-of-type :hover{
    color:  rgb(107, 244, 21);
}